*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: #333;
}

section{
  width: 60%;
  padding: 1rem;
  margin: 5rem auto;
}

section div input{
  font-size: 3rem;
  width: 92%;
  padding: 30px;
  background-color: #1d1d1d;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 5px;
  text-align: right;
}

section div{
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
}

section div button{
  width: 20%;
  margin: 1px;
  padding: 30px;
  background-color: #1d1d1d;
  color: white;
  border: 0;
  border-radius: 5px;

}